# Core application libraries
PySide6
yfinance
mplfinance
pandas-ta>=0.3.14b
rapidfuzz>=3.9
mplcursors

# Other dependencies (let pip resolve versions)
beautifulsoup4
certifi
cffi
charset-normalizer
contourpy
curl_cffi
cycler
fonttools
frozendict
greenlet
idna
kiwisolver
lxml
matplotlib
multitasking
numpy
packaging
pandas
peewee
pillow
platformdirs
playwright
protobuf
pycparser
pyee
pyparsing
python-dateutil
pytz
requests
shiboken6
six
soupsieve
typing_extensions
tzdata
urllib3
websockets

# Testing
pytest
pytest-mock